.block-review-car {

  svg {

    .popover {
      transition: all 0.25s ease-in;
      opacity: 0;

      .popover-text {
        font-family: $mini-sans-serif;
        text-transform: uppercase;
      }

      &.show {
        opacity: 1;

        &:nth-child(1) {
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-delay: 0.25s;
        }

        &:nth-child(3) {
          transition-delay: 0.5s;
        }

        &:nth-child(4) {
          transition-delay: 0.75s;
        }
      }
    }

    .dot {
      cursor: pointer;

      circle {
        transition: all 0.25s ease-in;
      }

      &:hover, &.dot-active {

        circle:nth-child(1) {
          r: 60;
        }

        circle:nth-child(2) {
          fill: transparent;
        }
      }
    }
  }
}
