.btn-black {
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  @media screen and (max-width: 600px) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .text {
    position: relative;
    color: #fbfaf7;
    font-size: 0.875rem;
    font-family: $mini-sans-serif;
    text-transform: uppercase;
    padding-right: 2rem;

    &::after {
      content: url('../images/icon-long-arrow-white-16.png');
      position: absolute;
      top: calc(50% + 1px);
      right: 0;
      width: 1rem;
      height: 1rem;
      transition: all 0.3s ease-out;
      transform: translateY(-50%);
      margin-top: -0.125rem;
    }
  }

  &:hover {

    .text {
      text-decoration: underline;
    }
  }
}

html:not(.touch-device) {

  .btn-black-effect {
    transition: all 0.3s ease-out;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: #ffffff;
    //   transform: scaleX(0);
    //   transform-origin: 0 50%;
    //   transition: all 0.3s ease-out;
    //   z-index: -1;
    // }

    &:hover {
      background-color: #ffffff;
      // &::before {
      //   transform: scaleX(1);
      // }

      .text {
        color: #000000;
        text-decoration: none;

        &::after {
          content: url('../images/icon-long-arrow-black-16.png');
        }
      }
    }
  }
}

.btn-white {
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .text {
    position: relative;
    color: #000000;
    font-size: 0.875rem;
    font-family: $mini-sans-serif;
    text-transform: uppercase;
    padding-right: 2rem;

    &::after {
      content: url('../images/icon-long-arrow-black-16.png');
      position: absolute;
      top: calc(50% + 1px);
      right: 0;
      width: 1rem;
      height: 1rem;
      transition: all 0.3s ease-out;
      transform: translateY(-50%);
    }
  }
}

html:not(.touch-device) {

  .btn-white {

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #e6e5e5;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 0.3s ease-out;
      z-index: -1;
    }

    &:hover {
      background-color: #ffffff;
      border-color: #ffffff;

      &::before {
        transform: scaleX(1);
      }

      .text {

        &::after {
          content: url('../images/icon-long-arrow-black-16.png');
        }
      }
    }
  }
}
