html {
  font-size: 16px;

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    font-size: 15px;
  }

  @media screen and (min-width: 350px) and (max-width: 600px) {
    font-size: 14px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.container {

  @media screen and (min-width: 1300px) {
    width: 1280px;
  }
}

a {
  text-decoration: inherit;
}

.hidden {
  display: none;
}

.align-self-center {
  align-self: center;
}

.w-100 {
  width: 100%;
}

.text-right {
  text-align: right;
}

.order-xs-1 {

  @media screen and (max-width: 600px) {
    order: 1;
  }
}

.order-xs-2 {

  @media screen and (max-width: 600px) {
    order: 2;
  }
}

.order-xs-3 {

  @media screen and (max-width: 600px) {
    order: 3;
  }
}
