@font-face {
    font-family: 'MINI Serif';
    src: url('../fonts/MINISerif-Bold.eot');
    src: url('../fonts/MINISerif-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MINISerif-Bold.woff2') format('woff2'),
         url('../fonts/MINISerif-Bold.woff') format('woff'),
         url('../fonts/MINISerif-Bold.ttf') format('truetype'),
         url('../fonts/MINISerif-Bold.svg#MINISerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MINI Sans Serif';
    src: url('../fonts/MINISansSerif-Bold.eot');
    src: url('../fonts/MINISansSerif-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MINISansSerif-Bold.woff2') format('woff2'),
         url('../fonts/MINISansSerif-Bold.woff') format('woff'),
         url('../fonts/MINISansSerif-Bold.ttf') format('truetype'),
         url('../fonts/MINISansSerif-Bold.svg#MINISansSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MINI Sans Serif';
    src: url('../fonts/MINISansSerif-Regular.eot');
    src: url('../fonts/MINISansSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MINISansSerif-Regular.woff2') format('woff2'),
         url('../fonts/MINISansSerif-Regular.woff') format('woff'),
         url('../fonts/MINISansSerif-Regular.ttf') format('truetype'),
         url('../fonts/MINISansSerif-Regular.svg#MINISansSerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MINI Serif';
    src: url('../fonts/MINISerif-Regular.eot');
    src: url('../fonts/MINISerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MINISerif-Regular.woff2') format('woff2'),
         url('../fonts/MINISerif-Regular.woff') format('woff'),
         url('../fonts/MINISerif-Regular.ttf') format('truetype'),
         url('../fonts/MINISerif-Regular.svg#MINISerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
