.layout-default {

  .header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .navbar {

      .navbar-brand {
        padding-left: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;

        img {
          width: auto;
          height: 2.5rem;
        }
      }

      .nav {

        .nav-item {

          .nav-link {
            color: rgba(0, 0, 0, 0.5);
            font-size: 1rem;
            font-family: $mini-serif;
            padding: 1.125rem 1.75rem;

            @media screen and (max-width: 600px) {
              padding-left: 0;
              padding-top: 1.5rem;
              padding-bottom: 1.5rem;
            }

            &:hover , &.active{
              color: #000000;
            }
          }
        }
      }

      .navbar-icon {
        background-color: transparent;
      }
    }
  }

  .footer {
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
