#page-home {

  .modal-image {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border-width: 0;

    .modal-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      border-bottom: unset;
      padding: 1.5rem;
      z-index: 6000;

      .close {
        top: 0;
        color: #ffffff;
        background-color: transparent;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        border-width: 0;
        cursor: pointer;

        &:focus {
          outline: unset;
        }
      }
    }

    .modal-content {
      padding: 0;
      overflow: hidden;

      .image-detail {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        // @media screen and (min-width: 600px) and (max-width: 1200px) {
        //   padding-top: 75%;
        // }
        //
        // @media screen and (min-width: 600px) and (max-width: 1200px) and (orientation: landscape) {
        //   padding-top: 40%;
        // }
        //
        // @media screen and (max-width: 600px) {
        //   padding-top: 100%;
        // }
      }
    }
  }
}
