#page-home {

  .modal-video {
    position: absolute;
    width: 1000px;
    background-color: transparent;
    border-width: 0;

    @media screen and (max-width: 1200px) {
      width: calc(100% - 2rem);
    }

    .modal-header {
      text-align: right;

      .close {
        top: -0.5rem;
        color: #ffffff;
        background-color: transparent;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        border-width: 0;
        cursor: pointer;

        &:focus {
          outline: unset;
        }
      }
    }

    .modal-content {
      padding: 0;
    }
  }
}
