#page-home {

  .section-05 {

    img.brand {
      max-width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    p {
      color: #000000;
      font-size: 1rem;
      line-height: 1.75;
    }

    img.cover {
      width: 100%;
      height: auto;
    }
  }
}
