#page-home {

  .section-03 {

    .slick {

      img {
        border: 0.0625rem solid #e0e0e0;
      }
    }

    .btn-black {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 2rem;
    }
  }
}
