#page-home {

  .section-01 {

    .offset-xl-1 {
      margin-right: 8.333333%;
    }

    .slick {

      @media screen and (max-width: 600px) {
        margin-bottom: 1.75rem;
      }

      .slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 1200px) {
          padding-top: 55%;
        }

        @media screen and (min-width: 600px) and (max-width: 1200px) {
          padding-top: 90%;
        }

        @media screen and (max-width: 600px) {
          padding-top: 55%;
        }
      }

      .slick-prev, .slick-next {
        z-index: 1000;
      }

      .slick-dots {

        li {
          display: block;
          height: 1.875rem;

          button {
            height: 1.875rem;

            &::before {
              height: 1.875rem;
              font-size: 0.625rem;
              line-height: 1.875rem;
            }
          }
        }
      }
    }

    .slick-01 {

      .slick-slide {

        img {
          width: 100%;
          height: auto;
        }
      }

      .slick-prev {
        left: -1.5rem;
        top: 32%;
        transform: translateX(-50%);
      }

      .slick-next {
        left: -1.5rem;
        right: unset;
        top: unset;
        bottom: 32%;
        transform: translateX(-50%);
      }

      .slick-dots {
        left: -2.375rem;
        bottom: 50%;
        transform: translateY(50%);
      }
    }

    .slick-02 {

      .slick-slide {

        @media screen and (max-width: 600px) {
          padding-right: 1rem;
        }
      }

      .slick-prev {
        left: unset;
        right: -0.5rem;
        top: 6%;
        transform: translateX(-50%);
      }

      .slick-next {
        right: -0.5rem;
        top: unset;
        bottom: 6%;
        transform: translateX(-50%);
      }

      .slick-dots {
        left: 0;
        bottom: 50%;
        transform: translate(calc(100% - 2rem), 50%);
      }
    }

    .btn-black {
      margin-top: 2rem;
      margin-bottom: 4rem;

      @media screen and (max-width: 600px) {
        display: block;
        margin-bottom: unset;
      }
    }
  }
}
