#page-home {

  .section-07 {

    .tab-links {
      border: unset;
      margin-bottom: 1.25rem;

      .tab-link {
        color: #000000;
        font-size: 0.875rem;
        font-family: $mini-sans-serif;
        text-transform: uppercase;
        border: unset;
        padding-left: unset;
        margin-right: 2.5rem;
        cursor: pointer;

        &.active {
          color: rgba(#000000, 0.5);
          pointer-events: none;
        }
      }
    }

    .slick {

      .slick-active {
        position: relative;
        z-index: 1000;
      }

      .slick-item {
        transform: skewX(-25deg);
        border-left: 0.25rem solid #ffffff;
        border-right: 0.25rem solid #ffffff;
        overflow: hidden;

        .slide {
          position: relative;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          .dot {
            position: absolute;
            transform: translate(-50%, -50%);

            button {
              position: relative;
              width: 3.75rem;
              height: 3.75rem;
              color: #ffffff;
              background-color: transparent;
              font-size: 1.75rem;
              border: 0.125rem solid #ffffff;
              border-radius: 50%;
              cursor: pointer;

              span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1.5rem;
                height: 1.5rem;
                transform: translate(-50%, -50%);
                background-color: #ffffff;
                border-radius: 50%;
              }

              &::before, &::after {
                content: '';
                position: absolute;
                width: calc(100% + 0.25rem);
                height: calc(100% + 0.25rem);
                border: 0.125rem solid transparent;
                border-radius: 50%;
              }

              &::before, &::after {
                top: -0.125rem;
                left: -0.125rem;
              }

              &:hover, &.press {
                border-color: transparent;
              }

              &:hover::before, &.press::before {
                border-top-color: #ffffff;
                border-right-color: #ffffff;
                border-bottom-color: #ffffff;
                transition:
                  border-top-color 0.15s linear 0.05s,
                  border-right-color 0.15s linear 0.15s,
                  border-bottom-color 0.15s linear 0.25s;
              }

              &:hover::after, &.press::after {
                border-top-color: #ffffff;
                transform: rotate(270deg);
                transition: transform 0.45s linear 0.05s,
              }

              &:focus {
                outline: unset;
              }
            }
          }
        }
      }
    }

    .tab-contents {
      position: relative;
      height: 35.125rem;

      .tab-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &.show {
          z-index: 100;
        }
      }
    }

    #tab-content-01 {

      .slick {

        .slide {
          transform: skewX(25deg);
          height: 32.5rem;
          margin-left: -32%;
          margin-right: -32%;
        }

        .slide-01 {

          .dot {
            top: 65%;
            left: 65%;
          }
        }

        .slide-03 {

          .dot {
            top: 55%;
            left: 45%;
          }
        }

        .slide-04 {

          .dot {
            top: 75%;
            left: 50%;
          }
        }
      }
    }

    #tab-content-02 {

      .slick {

        .slide {
          transform: skewX(25deg);
          height: 32.5rem;
          margin-left: -32%;
          margin-right: -32%;
        }

        .slide-01 {

          .dot {
            top: 32%;
            left: 43%;
          }
        }

        .slide-02 {

          .dot:nth-child(1) {
            top: 20%;
            left: 50%;
          }

          .dot:nth-child(2) {
            top: 93%;
            left: 49%;
          }
        }
      }
    }

    .progress {
      position: relative;
      background-color: #d7d8d9;
      width: 100%;
      height: 0.125rem;
      margin-top: 2.5rem;

      .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        height: 0.125rem;
      }

      .icon-arrow {
        position: absolute;
        top: 0;
        width: 1rem;
        transform: translateY(-50%);
        cursor: pointer;

        &.icon-arrow-left {
          left: -2rem;
        }

        &.icon-arrow-right {
          right: -2rem;
        }
      }
    }
  }
}
