#page-home {

  .section-01 {
    
    .offset-xl-1 {
      margin-right: 8.333333%;
    }

    .slick {

      @media screen and (max-width: 600px) {
        margin-bottom: 1.75rem;
      }

      .slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 1200px) {
          padding-top: 55%;
        }

        @media screen and (min-width: 600px) and (max-width: 1200px) {
          padding-top: 90%;
        }

        @media screen and (max-width: 600px) {
          padding-top: 55%;
        }
      }

      .slick-prev, .slick-next {
        z-index: 1000;
      }

      .slick-dots {

        li {
          display: block;
          height: 1.875rem;

          button {
            height: 1.875rem;

            &::before {
              content: '';
              top: 50%;
              left: 50%;
              width: 0.75rem;
              height: 0.75rem;
              transform: translate(-50%, -50%);
              font-size: 0.625rem;
              line-height: 1.875rem;
              border: 0.125rem solid #000000;
              border-radius: 50%;
              opacity: 1;
            }
          }

          &.slick-active {

            button {

              &::before {
                background-color: #000000;
              }
            }
          }
        }
      }
    }

    .slick-01 {

      @media screen and (max-width: 600px) {
        margin-left: -1rem;
        margin-right: -1rem;
      }

      .slick-slide {

        img {
          width: 100%;
          height: auto;
        }
      }

      .slick-prev {
        left: -1.563rem;
        top: 30%;
        transform: translateX(-50%);
      }

      .slick-next {
        left: -1.563rem;
        right: unset;
        top: unset;
        bottom: 30%;
        transform: translateX(-50%);
      }

      .slick-dots {
        left: -2.5rem;
        bottom: 50%;
        transform: translateY(50%);
      }
    }

    .slick-02 {

      .slick-slide {

        @media screen and (max-width: 600px) {
          padding-right: 1rem;
        }
      }

      .slick-prev {
        left: unset;
        right: -0.5rem;
        top: 6%;
        transform: translateX(-50%);
      }

      .slick-next {
        right: -0.5rem;
        top: unset;
        bottom: 6%;
        transform: translateX(-50%);
      }

      .slick-dots {
        left: 0;
        bottom: 50%;
        transform: translate(calc(100% - 2rem), 50%);

        @media screen and (max-width: 350px) {
          left: -0.3571rem;
        }
      }
    }

    .btn-black {
      margin-top: 2rem;
      margin-bottom: 4rem;

      @media screen and (max-width: 600px) {
        display: block;
        margin-bottom: unset;
      }
    }
  }
}
