#page-home {

  .section-08 {

    .line {
      margin-bottom: 2.5rem;
    }

    img.brand {
      max-width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    p {
      color: #000000;
      font-size: 1rem;
      line-height: 1.75;
    }

    img.cover {
      max-width: 100%;
      height: auto;
      margin-bottom: 1.875rem;
    }

    .button-redirect {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
    }
  }
}
