#page-home {

  .section-07 {

    .slide-link {
      color: #000000;
      font-size: 0.875rem;
      font-family: $mini-sans-serif;
      text-transform: uppercase;
      margin-right: 2.5rem;
      cursor: pointer;

      &.active {
        color: rgba(#000000, 0.5);
        pointer-events: none;
      }
    }

    .slides {
      display: grid;
      grid-template-columns: 40% 20% 40%;
      width: 100%;
      margin-top: 1.5rem;

      &.out {
        transform: translateX(-100);
      }

      .slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 32.5rem;

        &:nth-child(1) {
          clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
        }

        &:nth-child(2) {
          clip-path: polygon(34% 0, 100% 0%, 66% 100%, 0% 100%);
          margin-left: -15rem;
          margin-right: -15rem;
        }

        &:nth-child(3) {
          clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }
    }

    .progress {
      position: relative;
      background-color: #d7d8d9;
      width: 100%;
      height: 0.125rem;
      margin-top: 2.5rem;

      .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        height: 0.125rem;
      }
    }
  }
}
