#page-home {

  .section-08 {

    img.brand {
      max-width: 100%;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 600px) {
        border: 1px solid #cccccc;
        padding: 2rem;
      }
    }

    div.im-01 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 1.875rem;

      @media screen and (min-width: 1200px) {
        padding-top: 56%;
      }

      @media screen and (min-width: 600px) and (max-width: 1200px) {
        padding-top: 110%;
      }

      @media screen and (max-width: 600px) {
        padding-top: 75%;
        margin-left: -2rem;
        margin-right: -2rem;
      }
    }

    a.btn-black {
      padding-left: 4.5rem;
      padding-right: 4.5rem;

      @media screen and (max-width: 600px) {
        display: block;
        margin-top: 2rem;
      }
    }
  }
}
